Repository sirrus233/wotr-community-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: cabal-gild, hlint, prettier, xo

cabal-gild:
  name: cabal-gild
  language: system
  entry: bash -c 'for file in "$@"; do cabal-gild --io "$file"; done' --

hlint:
  name: hlint
  language: system
  entry: hlint

prettier:
  name: prettier
  language: system
  entry: npm exec -- prettier
  args:
  - --write
  - --ignore-unknown

xo:
  name: xo
  language: system
  entry: pre-commit hazmat cd frontend npm exec -- xo --fix --
  args: []

rotk frontend
  frontend/src/components/GameReports/formatters.tsx
  frontend/src/constants.ts
  frontend/src/utils.tsx
Due: prettier, xo

text
  frontend/src/utils.tsx
Due: prettier, xo

validation
  backend/src/Validation.hs
Due: hlint

fe
  frontend/src/components/GameReportForm/index.tsx
  frontend/src/constants.ts
Due: prettier, xo

colon
  frontend/src/components/GameReportForm/index.tsx
Due: prettier, xo

99 -> 999 and readability improvements
  frontend/src/components/Table/TimestampFilter.tsx
Due: prettier, xo

Frontend timestamp filter (#328)
  frontend/src/components/App.tsx
  frontend/src/components/GameReports/colHeaders.tsx
  frontend/src/components/GameReports/index.tsx
  frontend/src/components/GameReports/serializers.ts
  frontend/src/components/Table/AutocompleteFilter.tsx
  frontend/src/components/Table/FilterBar.tsx
  frontend/src/components/Table/TimestampFilter.tsx
  frontend/src/components/Table/styledComponents.tsx
  frontend/src/components/Table/types.tsx
  frontend/src/types.ts
  frontend/src/utils.tsx
Due: prettier, xo

Support Return of the King expansion (#355)
  backend/README.md
  backend/app/Server.hs
  backend/src/Types/DataField.hs
  backend/src/Validation.hs
  frontend/src/components/GameReportForm/index.tsx
  frontend/src/components/GameReports/formatters.tsx
  frontend/src/constants.ts
  frontend/src/utils.tsx
Due: hlint, prettier, xo

Clear muster points on change of handicap mechanism selection
  frontend/src/hooks/useGameReportFormEffects.tsx
Due: prettier, xo

Clear muster points on change of handicap mechanism selection (#356)
  frontend/src/hooks/useGameReportFormEffects.tsx
Due: prettier, xo

Add hashes to bundled output file names to prevent caching
  .prettierrc.yaml
  frontend/webpack.config.js
  infrastructure/lib/infrastructure-stack.ts
Due: prettier, xo

Expose expansions filter
  backend/src/Database.hs
  backend/src/Types/Api.hs
Due: hlint

like instead of unsafeLike
  backend/src/Database.hs
  backend/src/Types/DataField.hs
Due: hlint

Add ormolu prerequisite to setup instructions
  backend/README.md
Due: prettier

Frontend
  frontend/src/components/App.tsx
  frontend/src/components/GameReports/colHeaders.tsx
  frontend/src/components/GameReports/constants.ts
  frontend/src/components/GameReports/index.tsx
  frontend/src/components/GameReports/rows.tsx
  frontend/src/types.ts
Due: prettier, xo

|| not && to match other filters
  backend/src/Database.hs
Due: hlint

Helper fn that can be shared with competition filter
  backend/src/Database.hs
Due: hlint

Enable Rotk league
  backend/src/Types/DataField.hs
  backend/src/Validation.hs
  frontend/src/constants.ts
  frontend/src/utils.tsx
Due: hlint, prettier, xo

var name fix
  backend/src/Validation.hs
Due: hlint

Support new RotK League (#359)
  backend/src/Types/DataField.hs
  backend/src/Validation.hs
  frontend/src/constants.ts
  frontend/src/utils.tsx
Due: hlint, prettier, xo

identity wrapper fix
  backend/src/Database.hs
  backend/src/Types/Api.hs
  backend/src/Types/DataField.hs
  backend/src/Types/Database.hs
Due: hlint

Add link to view game after submitting a report
  frontend/src/components/GameReportForm/index.tsx
Due: prettier, xo

Add link to view game after submitting a report (#360)
  frontend/src/components/GameReportForm/index.tsx
Due: prettier, xo

Add ormolu prerequisite to setup instructions (#358)
  backend/README.md
Due: prettier

Replace Identity with ListField
  backend/src/Database.hs
  backend/src/Types/Api.hs
  backend/src/Types/DataField.hs
  backend/src/Types/Database.hs
Due: hlint

Hide "view game" button when already on game reports page
  frontend/src/components/GameReportForm/index.tsx
Due: prettier, xo

Hide "view game" button when already on game reports page (#362)
  frontend/src/components/GameReportForm/index.tsx
Due: prettier, xo

Formatting cleanup (#354)
  .prettierrc.yaml
  .vscode/settings.json
  backend/.hlint.yaml
  backend/.vscode/settings.json
  backend/.zed/settings.json
  backend/CHANGELOG.md
  frontend/README.md
  frontend/public/index.html
  frontend/src/components/Rankings/index.tsx
  frontend/webpack.config.js
  infrastructure/README.md
  infrastructure/bin/infrastructure.ts
  infrastructure/cdk.json
  infrastructure/jest.config.js
  infrastructure/lib/infrastructure-stack.ts
  infrastructure/package-lock.json
  infrastructure/package.json
  infrastructure/test/infrastructure.test.ts
  infrastructure/tsconfig.json
Due: prettier, xo

Use same fixed prettier version between pre-commit and frontend
  .pre-commit-config.yaml
Due: prettier

Use same fixed prettier version between pre-commit and frontend (#364)
  .pre-commit-config.yaml
Due: prettier

Collect KoME sovereigns info in game reports
  .vscode/settings.json
  backend/.vscode/settings.json
  backend/app/Migration.hs
  backend/src/AppServer.hs
  backend/src/Types/Api.hs
  backend/src/Types/DataField.hs
  backend/src/Types/Database.hs
  backend/src/Types/Migration.hs
  backend/src/Validation.hs
  frontend/src/components/BooleanInput.tsx
  frontend/src/components/FormElement.tsx
  frontend/src/components/GameReportForm/SovereignsFormFragment.tsx
  frontend/src/components/GameReportForm/getInitialFormData.tsx
  frontend/src/components/GameReportForm/index.tsx
  frontend/src/components/GameReports/colHeaders.tsx
  frontend/src/components/GameReports/formatters.tsx
  frontend/src/components/GameReports/rows.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useGameReportFormEffects.tsx
  frontend/src/styles/index.css
  frontend/src/styles/styledComponents.tsx
  frontend/src/types.ts
  frontend/src/utils.tsx
Due: hlint, prettier, xo

Bug fix: muster points not initializing in edit form
  frontend/src/components/GameReportForm/getInitialFormData.tsx
Due: prettier, xo

Bug fix: muster points not initializing in edit form (#366)
  frontend/src/components/GameReportForm/getInitialFormData.tsx
Due: prettier, xo

Export muster points
  backend/src/Types/Database.hs
Due: hlint

Export muster points (#365)
  backend/src/Types/Database.hs
Due: hlint

Collect KoME sovereigns info in game reports
  .vscode/settings.json
  backend/.vscode/settings.json
  backend/app/Migration.hs
  backend/src/AppServer.hs
  backend/src/Types/Api.hs
  backend/src/Types/DataField.hs
  backend/src/Types/Database.hs
  backend/src/Types/Migration.hs
  backend/src/Validation.hs
  frontend/src/components/BooleanInput.tsx
  frontend/src/components/FormElement.tsx
  frontend/src/components/GameReportForm/SovereignsFormFragment.tsx
  frontend/src/components/GameReportForm/getInitialFormData.tsx
  frontend/src/components/GameReportForm/index.tsx
  frontend/src/components/GameReports/Badge.tsx
  frontend/src/components/GameReports/ColHeaderWithSettingsBtn.tsx
  frontend/src/components/GameReports/FreeCaptures.tsx
  frontend/src/components/GameReports/Settings.tsx
  frontend/src/components/GameReports/ShadowCaptures.tsx
  frontend/src/components/GameReports/Sovereigns.tsx
  frontend/src/components/GameReports/colHeaders.tsx
  frontend/src/components/GameReports/rows.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useGameReportFormEffects.tsx
  frontend/src/styles/colors.ts
  frontend/src/styles/index.css
  frontend/src/styles/styledComponents.tsx
  frontend/src/types.ts
  frontend/src/utils.tsx
Due: hlint, prettier, xo

Path conditions:
  cabal-gild: any of: (^|/)(cabal\.project(\..*)?|[^/]+\.cabal)$
  hlint: any of: \.l?hs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, \.css$, \.scss$, \.(html|htm|xhtml)$
  xo: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^frontend/node_modules/
