Repository sirrus233/wotr-community-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: cabal-gild, hlint, prettier, xo

cabal-gild:
  name: cabal-gild
  language: system
  entry: bash -c 'for file in "$@"; do cabal-gild --io "$file"; done' --

hlint:
  name: hlint
  language: system
  entry: hlint

prettier:
  name: prettier
  language: system
  entry: npm exec -- prettier
  args:
  - --write
  - --ignore-unknown

xo:
  name: xo
  language: system
  entry: pre-commit hazmat cd frontend npm exec -- xo --fix --
  args: []

Sort countries
  frontend/src/components/Rankings/PlayerEditForm.tsx
Due: prettier, xo

docs
  README.md
  backend/README.md
  frontend/README.md
  infrastructure/README.md
Due: prettier

tweaks
  backend/README.md
  frontend/README.md
Due: prettier

contrib
  README.md
Due: prettier

clear
  infrastructure/README.md
Due: prettier

Comma
  frontend/src/components/GameReports/serializers.ts
Due: prettier, xo

Add comments about UTC <--> local time conversions
  frontend/src/components/GameReports/serializers.ts
  frontend/src/utils.tsx
Due: prettier, xo

feedback
  README.md
  backend/README.md
  frontend/README.md
Due: prettier

README Documentation (#351)
  README.md
  backend/README.md
  frontend/README.md
  infrastructure/README.md
Due: prettier

Initial implementation
  backend/app/GenTypes.hs
  backend/src/Types/Api.hs
  backend/src/Types/DataField.hs
  backend/src/Types/Database.hs
  backend/src/Types/TypeScriptInstances.hs
  backend/wotr-community-website.cabal
  frontend/src/generated/client.d.ts
  frontend/src/generated/client.ts
Due: cabal-gild, hlint, prettier, xo

comms
  backend/src/Types/TypeScriptInstances.hs
Due: hlint

camel case
  backend/app/GenTypes.hs
  backend/src/Types/TypeScriptInstances.hs
  backend/wotr-community-website.cabal
  frontend/src/generated/client.d.ts
  frontend/src/generated/client.ts
Due: cabal-gild, hlint, prettier, xo

winner -loser validation
  backend/src/Types/Database.hs
  backend/src/Validation.hs
  frontend/src/components/GameReportForm/index.tsx
  frontend/src/constants.ts
Due: hlint, prettier, xo

Sort countries (#349)
  frontend/src/components/Rankings/PlayerEditForm.tsx
Due: prettier, xo

cabal-gild and settings
  backend/.zed/settings.json
  backend/wotr-community-website.cabal
Due: cabal-gild, prettier

npm update
  frontend/package-lock.json
Due: prettier

pre-commit
  .pre-commit-config.yaml
Due: prettier

prettier
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: prettier

p
  .pre-commit-config.yaml
  backend/app/Server.hs
Due: hlint, prettier

restore nuked mixins
  backend/wotr-community-website.cabal
Due: cabal-gild

format
  .pre-commit-config.yaml
Due: prettier

remove garbage
  abc
Due: none

commit garbage file
  abc
Due: none

test
  backend/app/Server.hs
Due: hlint

form
  .pre-commit-config.yaml
Due: prettier

format cabal
  .pre-commit-config.yaml
  backend/cabal.project
Due: cabal-gild, prettier

add-pre-commit
  .pre-commit-config.yaml
Due: prettier

pre-commit all
  backend/bin/provision.sh
  infrastructure/bin/infrastructure.ts
Due: prettier, xo

update yaml
  .pre-commit-config.yaml
Due: prettier

orm
  .pre-commit-config.yaml
  backend/.zed/settings.json
Due: prettier

Add xo
  frontend/package-lock.json
  frontend/package.json
  frontend/xo.config.ts
Due: prettier, xo

Revert "redundant"
  .pre-commit-config.yaml
Due: prettier

redundant
  .pre-commit-config.yaml
Due: prettier

pre-commit setup instructions
  README.md
Due: prettier

formatting
  .prettierrc.yaml
Due: prettier

fix
  .prettierrc.yaml
Due: prettier

Setup pre-commit and associated tooling (#350)
  .pre-commit-config.yaml
  .prettierrc.yaml
  README.md
  backend/.zed/settings.json
  backend/bin/provision.sh
  backend/cabal.project
  backend/wotr-community-website.cabal
  frontend/package-lock.json
  frontend/package.json
  frontend/xo.config.ts
  infrastructure/bin/infrastructure.ts
Due: cabal-gild, prettier, xo

cleanup
  .prettierrc.yaml
  .vscode/settings.json
  backend/.hlint.yaml
  backend/.vscode/settings.json
  backend/.zed/settings.json
  backend/CHANGELOG.md
  backend/README.md
  frontend/README.md
  frontend/public/index.html
  frontend/src/components/Rankings/index.tsx
  frontend/webpack.config.js
  infrastructure/README.md
  infrastructure/bin/infrastructure.ts
  infrastructure/cdk.json
  infrastructure/jest.config.js
  infrastructure/lib/infrastructure-stack.ts
  infrastructure/package-lock.json
  infrastructure/package.json
  infrastructure/test/infrastructure.test.ts
  infrastructure/tsconfig.json
Due: prettier, xo

migrate by default
  backend/app/Server.hs
Due: hlint

rotk expansion
  backend/README.md
  backend/src/Types/DataField.hs
Due: hlint, prettier

Path conditions:
  cabal-gild: any of: (^|/)(cabal\.project(\..*)?|[^/]+\.cabal)$
  hlint: any of: \.l?hs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, \.css$, \.scss$, \.(html|htm|xhtml)$
  xo: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^frontend/node_modules/
