Repository sirrus233/wotr-community-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: cabal-gild, hlint, prettier, xo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: cabal-gild
        name: cabal-gild
        language: system
        entry: bash -c 'for file in "$@"; do cabal-gild --io "$file"; done' --
        files: '(^|/)(cabal\.project(\..*)?|[^/]+\.cabal)$'
      - id: ormolu
        name: ormolu
        language: system
        entry: ormolu
        args: ["--mode", "inplace"]
        types: [haskell]
      - id: hlint
        name: hlint
        language: system
        entry: hlint
        files: \.l?hs$
      - id: prettier
        name: prettier
        language: system
        entry: npm exec -- prettier
        args: [--write, --ignore-unknown]
        types_or:
          [javascript, jsx, ts, tsx, json, yaml, markdown, css, scss, html]
      - id: xo
        name: xo
        language: system
        entry: pre-commit hazmat cd frontend npm exec -- xo --fix --
        args: []
        types_or: [javascript, jsx, ts, tsx]
        exclude: ^frontend/node_modules/

Helper fn that can be shared with competition filter
  backend/src/Database.hs
Due: hlint

identity wrapper fix
  backend/src/Database.hs
  backend/src/Types/Api.hs
  backend/src/Types/DataField.hs
  backend/src/Types/Database.hs
Due: hlint

Replace Identity with ListField
  backend/src/Database.hs
  backend/src/Types/Api.hs
  backend/src/Types/DataField.hs
  backend/src/Types/Database.hs
Due: hlint

Expansions filter (#335)
  backend/src/Database.hs
  backend/src/Types/Api.hs
  backend/src/Types/DataField.hs
  backend/src/Types/Database.hs
  frontend/src/components/App.tsx
  frontend/src/components/GameReports/colHeaders.tsx
  frontend/src/components/GameReports/constants.ts
  frontend/src/components/GameReports/index.tsx
  frontend/src/components/GameReports/rows.tsx
  frontend/src/types.ts
Due: hlint, prettier, xo

Collect KoME sovereigns info in game reports
  .vscode/settings.json
  backend/.vscode/settings.json
  backend/app/Migration.hs
  backend/src/AppServer.hs
  backend/src/Types/Api.hs
  backend/src/Types/DataField.hs
  backend/src/Types/Database.hs
  backend/src/Types/Migration.hs
  backend/src/Validation.hs
  frontend/src/components/BooleanInput.tsx
  frontend/src/components/FormElement.tsx
  frontend/src/components/GameReportForm/SovereignsFormFragment.tsx
  frontend/src/components/GameReportForm/getInitialFormData.tsx
  frontend/src/components/GameReportForm/index.tsx
  frontend/src/components/GameReports/Badge.tsx
  frontend/src/components/GameReports/ColHeaderWithSettingsBtn.tsx
  frontend/src/components/GameReports/FreeCaptures.tsx
  frontend/src/components/GameReports/Settings.tsx
  frontend/src/components/GameReports/ShadowCaptures.tsx
  frontend/src/components/GameReports/Sovereigns.tsx
  frontend/src/components/GameReports/colHeaders.tsx
  frontend/src/components/GameReports/rows.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useGameReportFormEffects.tsx
  frontend/src/styles/colors.ts
  frontend/src/styles/index.css
  frontend/src/styles/styledComponents.tsx
  frontend/src/types.ts
  frontend/src/utils.tsx
Due: hlint, prettier, xo

Consistent serializer order
  backend/src/Types/DataField.hs
Due: hlint

maybeToRight and overloading instead of case
  backend/src/Types/DataField.hs
Due: hlint

move sovereignsCollectionStart
  backend/src/Validation.hs
Due: hlint

Validation readability
  backend/src/Validation.hs
Due: hlint

Make timestamp required for modifyReport endpoint
  backend/src/AppServer.hs
  backend/src/Types/Api.hs
  frontend/src/components/GameReportForm/getInitialFormData.tsx
  frontend/src/constants.ts
Due: hlint, prettier, xo

Allow user to elect to enter sovereigns before required date
  frontend/src/components/GameReportForm/SovereignsFormFragment.tsx
Due: prettier, xo

Detailed SovereignsMissing validation error message
  backend/src/AppServer.hs
  backend/src/Validation.hs
Due: hlint

Add aria label to view-settings button
  frontend/src/components/GameReports/ColHeaderWithSettingsBtn.tsx
Due: prettier, xo

Style sovereign input cards with matching borders
  frontend/src/components/FormElement.tsx
  frontend/src/components/GameReportForm/SovereignsFormFragment.tsx
Due: prettier, xo

uniform badge heights
  frontend/src/components/GameReports/Sovereigns.tsx
Due: prettier, xo

Always require sovereigns for new reports agnostic of start date
  frontend/src/components/GameReportForm/SovereignsFormFragment.tsx
  frontend/src/components/GameReportForm/index.tsx
Due: prettier, xo

Use prettyprinter to render validation errors
  backend/.vscode/settings.json
  backend/src/AppServer.hs
  backend/src/Validation.hs
  backend/wotr-community-website.cabal
Due: cabal-gild, hlint, prettier

0.88 to 0.85
  frontend/src/components/GameReports/Sovereigns.tsx
Due: prettier, xo

Update cutover date to 10/9
  backend/src/Validation.hs
  frontend/src/constants.ts
Due: hlint, prettier, xo

Collect KoME sovereigns info in game reports (#363)
  .vscode/settings.json
  backend/.vscode/settings.json
  backend/app/Migration.hs
  backend/src/AppServer.hs
  backend/src/Types/Api.hs
  backend/src/Types/DataField.hs
  backend/src/Types/Database.hs
  backend/src/Types/Migration.hs
  backend/src/Validation.hs
  backend/wotr-community-website.cabal
  frontend/src/components/BooleanInput.tsx
  frontend/src/components/FormElement.tsx
  frontend/src/components/GameReportForm/SovereignsFormFragment.tsx
  frontend/src/components/GameReportForm/getInitialFormData.tsx
  frontend/src/components/GameReportForm/index.tsx
  frontend/src/components/GameReports/Badge.tsx
  frontend/src/components/GameReports/ColHeaderWithSettingsBtn.tsx
  frontend/src/components/GameReports/FreeCaptures.tsx
  frontend/src/components/GameReports/Settings.tsx
  frontend/src/components/GameReports/ShadowCaptures.tsx
  frontend/src/components/GameReports/Sovereigns.tsx
  frontend/src/components/GameReports/colHeaders.tsx
  frontend/src/components/GameReports/rows.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useGameReportFormEffects.tsx
  frontend/src/styles/colors.ts
  frontend/src/styles/index.css
  frontend/src/styles/styledComponents.tsx
  frontend/src/types.ts
  frontend/src/utils.tsx
Due: cabal-gild, hlint, prettier, xo

Update prettyprinter to latest version
  backend/wotr-community-website.cabal
Due: cabal-gild

Update prettyprinter to latest version (#371)
  backend/wotr-community-website.cabal
Due: cabal-gild

Cross-browser-compatible sovereign badge cross-outs
  frontend/src/components/GameReports/Sovereigns.tsx
Due: prettier, xo

Cross-browser-compatible sovereign badge cross-outs (#372)
  frontend/src/components/GameReports/Sovereigns.tsx
Due: prettier, xo
